  .name
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .column1
  {
    background: rgb(1, 252, 218) ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .anything
  {
    font-size: 18px ;
  }
  .object
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .what
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  #result{
    white-space: pre-line;
  }
  .copy_right_footer{
  position: fixed;
  color: black;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 255, 255);
  line-height: 3;
  text-align: center;
  }
  canvas{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow:5px 5px 5px grey ;
  margin-top: 160px;
  }